* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 200px 300px;
}



/* 1chi rarim stillari */

/* .container {
    display: grid;
    grid-template-rows: repeat(4 , 150px);
    grid-template-areas:
    "header header header header"
    "main main main aside"
    "main main main aside"
    "footer footer footer footer  ";
}

header {
    background-color: rgb(210, 30, 183);
    grid-area: header;
}

main {
    background-color: brown;
    grid-area: main;
}

aside {
    background-color: rgb(21, 255, 0);
    grid-area: aside;
    
}

footer {
    background-color: blue;
    grid-area: footer;
} */



/* 2chi rasim stillari */

/* 
.container {
  text-align: center;
  display: grid;
  grid-template-rows: 150px 150px 400px  150px ;
  grid-template-areas:
  "header header header header"
  "nav nav nav nav"
  "left right right right"
  "footer footer footer footer  ";
  gap: 5px;
}

header {
  background-color: rgb(210, 30, 183);
  grid-area: header;
}

nav {
  background-color: brown;
  grid-area: nav;
}

.left {
  background-color: rgb(21, 255, 0);
  grid-area: left;
}
.right {
  background-color: rgb(69, 52, 130);
  grid-area: right;
}

footer {
  background-color: blue;
  grid-area: footer;
} */


/* 3chi rasim */


.container {
  text-align: center;
  display: grid;
  grid-template-rows: repeat(5 , 150px);
  grid-template-areas:
  "header header header header"
  "aside main main main"
  "aside main main main "
  "aside footer footer footer  ";
  gap: 15px;
}

ul {
  list-style: none;
}

header {
  background-color: #e2deed;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 18px;
  color: #737078;
}

aside {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2deed;;
  grid-area: aside;
  color: #737078;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #737078;
  background-color: #e2deed;
  grid-area: main;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #737078;
  background-color: #e2deed;
  grid-area: footer;
}